################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BiblioMonolitica/FileContentIndex/24140011-798b-45e0-badd-29eb1a43d950.vsidx
